<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eksponaty</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>

<body>
    <h1>Lista Eksponatów</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Filtruj</button>
    </form>

    <h2>Results:</h2>
        <div class="container mt-5">
            <h2></h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tytuł</th>
                        <th>Autor</th>
                        <th>Typ</th>
                        <th>Wysokość</th>
                        <th>Szerokość<th>
                        <th>Waga</th>
                    </tr>
                </thead>
                <tbody>
                    {% for artwork in artworks %}
                    <tr>
                        <td>{{ artwork.id }}</td>
                        <td>{{ artwork.title }}</td>
                        <td>{{ artwork.artist }}</td>
                        <td>{{ artwork.type }}</td>
                        <td>{{ artwork.height }}</td>
                        <td>{{ artwork.width }}</td>
                        <td>{{ artwork.weight }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>

</html>



